wheel
Flask
Flask-Assets
Flask-DebugToolbar
Flask-Login
flask-mongoengine
Flask-Script
Flask-WTF
Flask-Bootstrap
Flask-Nav
flask-user

WTForms~=2.3.1
wtforms-components
Werkzeug~=1.0.1
webassets~=2.0

email-validator
mongoengine~=0.20.0
radar

cssmin
jsmin
pytest~=5.4.2