{% extends 'base.html' %}
{% block title %}
Meine Jahresarbeitstage Übersicht
{% endblock %}

{% block page_title %}
Meine Jahresarbeitstage Übersicht
{% endblock %}

{% block body %}
        <div class="dropdown float-right">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ year }}
                </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       {% for y in range(min_year, now_year + 1) %}
                            <a class="dropdown-item" href="{{ url_for('meine_statistiken_ap5.meine_jahresarbeitstage_uebersicht') }}/{{ y }}">{{ y }}</a>
                        {% endfor %}
                  </div>
        </div>

{{ legende() }}
<br>
{{ kalender(group_month(fehl(user, year)), year) }}
{% endblock %}